<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <div class="flex flex-col text-center w-full">
            <a href="{{ url_for("index") }}"
               class="flex title-font font-medium justify-center text-white mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="currentColor"
                     class="icon icon-tabler icons-tabler-filled icon-tabler-microphone w-10 h-10 text-white p-2">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M19 9a1 1 0 0 1 1 1a8 8 0 0 1 -6.999 7.938l-.001 2.062h3a1 1 0 0 1 0 2h-8a1 1 0 0 1 0 -2h3v-2.062a8 8 0 0 1 -7 -7.938a1 1 0 1 1 2 0a6 6 0 0 0 12 0a1 1 0 0 1 1 -1m-7 -8a4 4 0 0 1 4 4v5a4 4 0 1 1 -8 0v-5a4 4 0 0 1 4 -4" />
                </svg>
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">WhatdaHellBot</h1>
            </a>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Use the WhatdaHellBot to get a new experience!</p>
        </div>
    </div>
</header>
